/* hr.for_h2 {
  height: 4px;
}

.h2_hr {
  margin-top: -38px;
  text-align: center;
 
} */

/* .h2_hr span {
  background: white;
  padding: 8px;
  position: relative;
  z-index: 1;
} */

/* .prod_img {
  min-height: 200px;
  background-size: cover;
  background-position: center;
} */
