body {
  background-color: rgba(255, 255, 255, 0.986);
  font-family: Montserrat;
}

.logo {
  max-height: 100px;
}
.admin_nav_side {
  background: #a70808d8;
  color: white;
}

.admin_nav_side a {
  color: white;
  text-decoration: none;
  padding: 16px;
  border-bottom: 2px solid white;
}

.admin_nav_side a:hover {
  background: #ffffff;
  color: rgba(167, 8, 8, 0.849);
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Single Prod Tabs style */
.bloc-tabs {
  display: flex;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(192, 3, 3, 0.849);
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: #ffffff;
  font-weight: bold;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(250, 248, 248, 0.89);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
  color: rgb(109, 108, 108);
}

.bloc-tabs button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

.iconZoom {
  position: absolute;
  top: 50px;
  right: 65px;
  font-weight: 400;
}
.yflag {
  position: absolute;
  clip-path: polygon(100% 37%, 75% 48%, 100% 59%, 0 59%, 0 48%, 0 37%);
  /* height: 20%; */
  top: -10px;
  left: 13px;
  font-weight: lighter;
}

.profileImg {
  clip-path: circle(60px at center);
}

/* cardbox css */
.prod_box {
  height: 400px;
}
/* loupe */
.prod_box .bi,
.card_small .bi {
  background-color: #ffffff;
  color: rgba(136, 136, 136, 0.767);
  border: 0;
  right: 81%;
}

.prod_box .bi:hover,
.card_small .bi:hover {
  background-color: rgb(212, 36, 36);
  color: #ffffff;
}
.prod_box .bi:active,
.card_small .bi:active {
  background-color: rgb(177, 31, 31);
  color: #ffffff;
}
/* title on card */
.prod_name_box:hover {
  color: rgb(212, 36, 36);
}

.prod_box .bi-hammer,
.card_small .bi-hammer {
  font-weight: 400;
  background-color: rgb(212, 36, 36);
  color: #ffffff;
}
.prod_box .bi-hammer {
  position: absolute;
  top: 18px;
}

.prod_box .bi-heart {
  position: absolute;
  top: 65px;
  font-weight: 400;
}
.prod_box .bi-eye {
  position: absolute;
  top: 113px;
  font-weight: 400;
}

.modal-button-buynow {
  border-color: rgb(212, 36, 36);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.favorite {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.favorite2 {
  background-color: rgb(212, 36, 36) !important;
  color: #ffffff !important;
}

nav {
  background-color: rgba(192, 3, 3, 0.849);
  max-height: 62px;
}

p .nav-item {
  vertical-align: middle;
}

a {
  text-decoration: none;
}
.cat_title {
  max-height: 62px;
}
.drop_menue {
  left: 4%;
  top: 94%;
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
}

/* butons and links red on hover */
.drop_menue div .dropdown_item:hover,
.moderncontemporary .read-more:hover {
  color: rgb(212, 36, 36) !important;
}

/* navbar links underline */

.nav-item p:hover:after {
  transform: scaleX(1);
}

.nav-item p:after {
  display: block;
  content: '';
  border-radius: 1em;
  border-bottom: solid 2px #ffffff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

/* Home page CSS */
.hero {
  background-image: url('/src/marketComps/client/images/team.jpg');
  min-height: 621px;
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}

/* lines over hammer icon */
.title h2 {
  overflow: hidden;
  text-align: center;
}

.title h2:before,
.title h2:after {
  background-color: #000;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.title h2:before {
  right: 0.5em;
  margin-left: -50%;
}

.title h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.contemporary {
  background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.5)),
    url('/src/marketComps/client/images/The_Structure.jpg');
}
.modern {
  background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.5)),
    url('/src/marketComps/client/images/classic.jpg');
}
.contemporary,
.modern,
.artist-image {
  margin-top: 2em;
  height: 380px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: #ffffff 2px solid;
}

.contemporary .span1:before,
.modern .span1:before {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  width: 90%;
  height: 1px;
  background-color: transparent;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
}
.contemporary .span1:after,
.modern .span1:after {
  content: '';
  position: absolute;
  top: 10%;
  right: 5%;
  width: 1px;
  height: 80%;
  background-color: transparent;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
}
.contemporary .span2:before,
.modern .span2:before {
  content: '';
  position: absolute;
  bottom: 10%;
  right: 0;
  left: 0;
  width: 90%;
  height: 1px;
  background-color: transparent;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
}
.contemporary .span2:after,
.modern .span2:after {
  content: '';
  position: absolute;
  top: 10%;
  left: 5%;
  width: 1px;
  height: 80%;
  background-color: transparent;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
}
.contemporary:hover .span1:before,
.modern:hover .span1:before {
  animation: border-top 0.2s linear;
  background-color: #ffffff;
}
@keyframes border-top {
  0% {
    transform: scaleX(0);
  }
}
.contemporary:hover .span1:after,
.modern:hover .span1:after {
  animation: border-right 0.2s linear;
  background-color: #ffffff;
}
@keyframes border-right {
  0%,
  50% {
    transform: scaleY(0);
  }
}
.contemporary:hover .span2:before,
.modern:hover .span2:before {
  animation: border-bottom 0.2s linear;
  background-color: #ffffff;
}
@keyframes border-bottom {
  0%,
  75% {
    transform: scaleX(0);
  }
}
.contemporary:hover .span2:after,
.modern:hover .span2:after {
  animation: border-left 0.2s linear;
  background-color: #ffffff;
}
@keyframes border-left {
  0%,
  80% {
    transform: scaleY(0);
  }
}

.insideframe {
  left: 12%;
  top: 15%;
}
.circleB {
  width: 90%; /* half of width*/
  height: 40px;
  border-radius: 150px 0 0 150px;
  border: none;
  -webkit-box-shadow: 0px 7px 30px -12px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 7px 30px -12px rgba(0, 0, 0, 0.26);
  padding-left: 20px;
}
.circleB::placeholder {
  color: rgba(136, 136, 136, 0.603);
}
.circleB:focus {
  /* box-shadow: none; */
  outline: none;
}
.search_btn {
  width: 50px; /* half of width*/
  height: 40px;
  border-radius: 0 150px 150px 0;
  background-color: rgba(192, 31, 31, 0.795);
  border: none;
  -webkit-box-shadow: 0px 7px 30px -12px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 7px 30px -12px rgba(0, 0, 0, 0.26);
}
.search_btn:hover,
.search_before_footer .search_btn:hover {
  background-color: rgb(136, 22, 22);
}

.search_before_footer {
  background-color: rgba(192, 3, 3, 0.849);
}

.search_before_footer .search_btn {
  background-color: rgb(233, 79, 79);
}

.easy_shadow {
  -webkit-box-shadow: 0px 7px 30px -12px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 7px 30px -12px rgba(0, 0, 0, 0.26);
}
.small_timer span span {
  color: rgba(192, 3, 3, 0.849);
}
.small_timer p {
  font-size: 0.8em;
}
.btn_filter {
  background-color: rgba(192, 3, 3, 0.849);
  font-size: 0.9em;
}
.btn_filter:hover {
  background-color: white;
  color: rgba(192, 3, 3, 0.849) !important;
  box-shadow: 0px 7px 30px -12px rgba(0, 0, 0, 0.26);
}
.pages_nav span {
  font-size: 0.9em;
}

/* toggle button to change view in category */
.toggle_btn_left {
  /* half of width*/
  height: 40px;
  border-radius: 150px 0 0 150px;
  border: none;
  -webkit-box-shadow: 0px 7px 30px -12px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 7px 30px -12px rgba(0, 0, 0, 0.26);
  padding-left: 20px;
}
.toggle_btn_right {
  /* half of width*/
  height: 40px;
  border-radius: 0 150px 150px 0;
  background-color: rgba(192, 31, 31, 0.795);
  border: none;
  -webkit-box-shadow: 0px 7px 30px -12px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 7px 30px -12px rgba(0, 0, 0, 0.26);
}
.toggle_true {
  background-color: rgba(192, 3, 3, 0.849);
  color: white;
}
.toggle_false {
  background-color: white;
  color: rgba(192, 3, 3, 0.849);
}

.fit_content {
  height: fit-content;
}
.form-select {
  box-shadow: none !important;
  outline: none !important;
}
/* Contact Section */

.red-rectangle {
  top: 90px;
  left: -120px;
  position: absolute;
  min-height: 30rem;
  background-color: rgba(175, 10, 10, 0.863);
}

.motive_color {
  color: rgba(175, 10, 10, 0.863);
  /* color: rgba(192, 3, 3, 0.849); */
}

.devops_img {
  max-height: 32rem;
  overflow: hidden;
}
.gap6rem {
  margin: 6rem 0 !important;
}
.gap5rem {
  margin: 5rem 0 2rem !important;
}
.my-input::focus {
  outline-color: rgb(175, 10, 10, 0.863) !important;
}
